<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

   
  </head>
  <body>
    <h1>BARRAS </h1>
 <div  class="container p-4">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <form action="" method="post">
            <div class="form-group">
              <label for="">registro de perfiles de Barras</label>  
            </div>
            <p>nombre</p> 
              <input value="{{nombre}}"class="form-control" type="text" name="nombre" id="">
            <p>referencia</p> 
              <input value="{{referencia}}" class="form-control" type="text" name="referencia" id="">
            <p>precio</p> 
              <input value="{{precio}}"class="form-control" type="text" name="precio" id="">
            <p>cantidad</p> 
              <input value="{{cantidad}}"class="form-control" type="text" name="cantidad" id="">
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-outline-success btn-block">registrar</button>
            </div>
            </div>
          </form>
<!-- formulario -->
        </div>
      </div>
    </div>  
    <br>
    <h5>BARRAS VENDIDAS</h5>
    <div class="col-md-8">
      <div class="car-body">
        <table class="table">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">nombre</th>
      <th scope="col">referencia</th>
      <th scope="col">precio</th>
      <th scope="col">cantidad</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
   {{#each usua}}
    <tr>
      <th scope="row">{{id}}</th>
      <td>{{nombre}}</td>
      <td>{{referencia}}</td>
      <td>{{precio}}</td>
      <td>{{cantidad}}</td>
      <td>
        <a href="delete/{{id}}" class="btn btn-outline-danger">eliminar</a>
        <a href="modificar/{{id_usuarios}}" class="btn btn-outline-primary">modificar</a>
      </td>
    </tr>
  {{/each}}
  </tbody>
</table>
      </div>
    </div>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>