<form id="procesar-pago" action="/compraeditar/agregar" method="POST">
                        <div class="form-group row">
                            <label for="cliente" class="col-12 col-md-2 col-form-label h2">Cliente :</label>
                            <div class="col-12 col-md-10">
                                <input value="{{cliente}}"class="form-control" type="text" name="cliente" id="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="email" class="col-12 col-md-2 col-form-label h2">Correo :</label>
                            <div class="col-12 col-md-10">
                                <input value="{{correo}}"class="form-control" type="text" name="correo" id="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="email" class="col-12 col-md-2 col-form-label h2">Producto :</label>
                            <div class="col-12 col-md-10">
                                <input value="{{producto}}"class="form-control" type="text" name="producto" id="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="email" class="col-12 col-md-2 col-form-label h2">precio :</label>
                            <div class="col-12 col-md-10">
                                <input value="{{precio}}"class="form-control" type="text" name="precio" id="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="email" class="col-12 col-md-2 col-form-label h2">cantidad :</label>
                            <div class="col-12 col-md-10">
                                <input value="{{cantidad}}"class="form-control" type="text" name="cantidad" id="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="email" class="col-12 col-md-2 col-form-label h2">SubTotal :</label>
                            <div class="col-12 col-md-10">
                                <input value="{{subtotal}}"class="form-control" type="text" name="subtotal" id="">
                            </div>
                        </div>